---
version: '3'
services:
  nginx:
    image: nginx
    container_name: ${USER}-nginx
    expose:
      - 80
    labels:
      - traefik.enable=true
      - traefik.backend=web
      - traefik.port=80
      - traefik.frontend.rule=${TRAEFIK_FRONTEND_RULE}
      - traefik.frontend.priority=5
    volumes:
      - ./nginx/dist:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - isolated_nw
  traefik:
    image: traefik:1.7
    container_name: ${USER}-traefik
    command: --acme.storage=/etc/traefik/acme.json \
            --logLevel=${LOG_LEVEL} \
            ${TRAEFIK_ENTRYPOINT_HTTP} \
            --entryPoints="Name:https Address::443 TLS" \
            --defaultentrypoints=${TRAEFIK_DEFAULT_ENTRYPOINTS} \
            --acme=${ACME_ENABLE} \
            --acme.entrypoint=https \
            --acme.httpchallenge \
            --acme.httpchallenge.entrypoint=http \
            --acme.domains="${ACME_DOMAINS}" \
            --acme.email="${ACME_EMAIL}" \
            --docker \
            --docker.domain="${DOCKER_DOMAIN}" \
            --docker.endpoint="unix:///var/run/docker.sock" \
            --docker.watch=true \
            --docker.exposedbydefault="false"
    ports:
      - ${APP_PORT}:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/acme.json:/etc/traefik/acme.json
    networks:
      - isolated_nw

networks:
  isolated_nw:
    external:
      name: isolated_nw
